.potree_container .overlay {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 4;
  background: #19282C;
  opacity: 0.5;
}

.potree_container .overlay:hover {
  opacity: .75;
  background: #19282C;
}

.slidecontainer {
  width: 100%;
}

.slider {
  width: 100%;
  background: #19282c;
  margin: 8px;
  opacity: 1;
}

.slider > .ui-slider-handle {
  z-index: 1;
  background: #FF0000;
  cursor: pointer;
}

#value {
  color: #FFFFFF;
}

.playbar_row {
  font-family: 'Open Sans', sans-serif;
  font-size: 125%;
  display: flex;
  vertical-align: bottom;
}

#play_pause_container {
  flex-grow: 0;
}

.value_column {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.value_column + .value_column {
  margin-left: 15px;
}

.play_pause_button {
  color: #FFFFFF;
  outline: 0;
  background: none;
  border: 0px;
  height: 25px;
  opacity: 0.7;
}

.play_pause_button:active {
  color: #FF0000;
  opacity: 1.0;
  outline: 0;
}

.play_pause_button:hover {
  color: #FFFFFF;
  opacity: 1.0;
  outline: 0;
}

.play_pause_button::-mos-focus-inner {
  border: 0px;
}

.align_right {
  text-align: right;
  margin-left: .5em;
}

#time_display_container {
  flex-direction: column;
}

.time_display_section {
  display: inline;
}

.window {
  width: 150px;
}

.button_column {
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.box_button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 32px;
}

.box_button:hover {
  background-color: #FFFFFF;
}

.box_button:active {
  background-color: #888888;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.playbar_text_field {
  background: none;
  border: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

#time_display {
  width: 5em;
}

#full_time_display {
  width: 5em;
}

#windows {
  font-size: 75%;
  text-align: center;
}

#playbar_tmin {
  display: inline;
  width: 50px;
  text-align: center;
}

#playbar_tmax {
  display: inline;
  width: 50px;
  text-align: center;
}

#elevation_min {
  display: inline;
  width: 50px;
  text-align: center;
}

#elevation_max {
  display: inline;
  width: 50px;
  text-align: center;
}